langchain
langchain-groq
langgraph
presidio-analyzer
presidio-anonymizer
spacy
langfuse
python-dotenv
pydantic
streamlit
PyPDF2
pandas

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
